/* normalize.css */

/* Document
   ========================================================================== */

   html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  /* Sections
     ========================================================================== */
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  /* etc. Add more styles if needed */
  